In [1]:
# Import the Riak client and instantiate the client telling it to
# convert timestamp fields from Epoch to dates
from riak import RiakClient
client = RiakClient(transport_options={'ts_convert_timestamp': True})

In [2]:
# SQL Query asks for all records for the month of September 2014
query = """
SELECT * FROM Bike_Share_Trip WHERE 
    start_date > '2014-09-01 00:00:00' AND 
    start_date < '2014-09-30 23:59:59';
"""

# Use ts_query to execute our query and load the result set into ds
ds = client.ts_query('Bike_Share_Trip', query)

In [3]:
# Import the Pandas library and convert our result set 
# into a Pandas data frame
import pandas as pd
df = pd.DataFrame(ds.rows)

In [4]:
# Output the first 5 rows our data
print df.head()

        0     1                   2                                     3   4  \
0  432947   569 2014-09-01 00:05:00              South Van Ness at Market  66
1  432948   568 2014-09-01 00:05:00              South Van Ness at Market  66
2  432949   538 2014-09-01 00:05:00              South Van Ness at Market  66
3  432950  6712 2014-09-01 03:16:00  Harry Bridges Plaza (Ferry Building)  50
4  432951   619 2014-09-01 04:21:00                    Powell Street BART  39

                    5                                         6   7    8
0 2014-09-01 00:15:00                             5th at Howard  57  318
1 2014-09-01 00:15:00                             5th at Howard  57  461
2 2014-09-01 00:14:00                             5th at Howard  57  466
3 2014-09-01 05:08:00  San Francisco Caltrain (Townsend at 4th)  70  259
4 2014-09-01 04:32:00                           Townsend at 7th  65  335

In [5]:
print df.describe()

                   0              1             4             7             8
count   31682.000000   31682.000000  31682.000000  31682.000000  31682.000000
mean   454839.785430    1046.651758     58.297235     58.487375    420.120068
std     12692.580723    5763.976438     17.157521     17.098136    160.124872
min    432947.000000      60.000000      2.000000      2.000000      9.000000
25%    443852.250000     346.000000     50.000000     50.000000    325.000000
50%    454691.500000     512.000000     62.000000     63.000000    436.000000
75%    465817.750000     738.000000     70.000000     70.000000    544.000000
max    477116.000000  489435.000000     84.000000     84.000000    878.000000