In [ ]:
# Import the Riak client
from riak import RiakClient

# Instantiate the client with transport_options set to convert from Epoch to dates
client = RiakClient(transport_options={'ts_convert_timestamp': True})

In [ ]:
# SQL Group By query returns the number of rides starting at a station in September 2014
query = """
SELECT 
    start_station, count(start_station) 
FROM Bike_Share_Trip WHERE 
    start_date > '2014-09-01 00:00:00' AND 
    start_date < '2014-09-30 23:59:59' 
GROUP BY 
    start_station
"""

# Use ts_query to execute our query and load the result set into ds
ds = client.ts_query('Bike_Share_Trip', query)

In [ ]:
# Import the Pandas library
import pandas as pd

# Convert our result set into a Pandas data frame
df = pd.DataFrame(ds.rows)

# Set our column names manually
df.columns = ['Start Station','Rides']

# Sort our output by number of rides starting at a station 
# and then output the first 10 records
df.sort_values('Rides', ascending=False).head(10)

In [ ]:
# SQL Group By query returns the number of rides starting at a station in September 2014
query = """
SELECT 
    end_station, count(end_station) 
FROM Bike_Share_Trip WHERE 
    start_date > '2014-09-01 00:00:00' AND 
    start_date < '2014-09-30 23:59:59' 
GROUP BY 
    end_station
"""

# Use ts_query to execute our query and load the result set into ds
ds = client.ts_query('Bike_Share_Trip', query)

In [ ]:
# Convert our result set into a Pandas data frame
df = pd.DataFrame(ds.rows)

# Set our column names manually
df.columns = ['End Station','Rides']

# Sort our output by number of rides starting at a station 
# and then output the first 10 records
df.sort_values('Rides', ascending=False).head(10)

In [ ]:
# SQL Group By query returns the number of rides by station pair (start/end) September 2014
query = """
SELECT 
    start_station, end_station, count(start_station) 
FROM Bike_Share_Trip WHERE 
    start_date > '2014-09-01 00:00:00' AND 
    start_date < '2014-09-30 23:59:59' 
GROUP BY 
    start_station, end_station
"""

# Use ts_query to execute our query and load the result set into ds
ds = client.ts_query('Bike_Share_Trip', query)

In [ ]:
# Convert our result set into a Pandas data frame
df = pd.DataFrame(ds.rows)

# Set our column names manually
df.columns = ['Start Station','End Station','Rides']

# Sort our output by number of rides per station pair descending
df.sort_values('Rides', ascending=False).head(10)